*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-image: url('../assets/recursos/BG1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 8%;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative ;
    

}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(24, 245, 223, 0.481);
}

.caja__trasera div{
    margin: 100px 40px;
    color: antiquewhite;
    transition: all 500ms;
    text-align: center;
}

.caja__trasera div p, 
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div button{
    display: block;
    margin: 15px auto;
    
}

.caja__trasera div h3{
    font-size: 26px;
}

.caja__trasera button{
    margin: 0px auto;
    padding: 15px 40px;
    border: 2px solid #ffffff;
    background-color: transparent;
    font-size: 14px;
    font-weight: 660;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: rgb(5, 220, 248);
}

/*FORMULARIO*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 20px;
    position: absolute;
    
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(5, 220, 248);
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #6de1ec2a;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-left: 90px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background-color: aquamarine;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.formulario__login{
    display: block;
}

.formulario__register{
    display: none;
}


/*Trabajando el Responsive Dessign*/
@media screen and ( max-width: 850px) {
    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*FORMULARIOS RESPONSIVE DESIGN*/
    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;

    }

    .contenedor__login-register form{
        position: relative;
    };
}