body{
    background-image: url('imagenes/BG1.jpg');
    background-size: fixed;
    background-repeat: no-repeat;
    background-size: 100% 850px;
    height: 850px;
}

.navbar{
    backdrop-filter: blur(5px);
    background-color: rgba(33, 3, 123, 0.4);
}

.first{
    min-height:calc(100vh - 100px - 140px);
}

.fondo img{
    border-radius: 45%;
    margin-left: 80px;
    margin-top: 30px;
    
}

.usuarios{
    color:#fff;
    margin-top:-70px;
    width: 140%;
    margin-left: -65px;
}

footer{
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
}