.cuerpo{
    background-image: url('/assets/recursos/BG-JGV.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    
}
.primerDiv{
    background-image: url('/assets/recursos/BGCentral.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 3% ;
    width: 97%;
    height: 750px;
    margin: auto;
    margin-top: 40px;
}
h1{
    text-align: left;
    font-size: 59px;
    color:#ffffff;
    font-family: 'Bebas Neue';
}

.central{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-radius: 3% ;
    width: 97%;
    height: 750px;
    margin: auto;
}

.caja{
    height: 85%;
    background-color: rgba(0, 255, 255, 0.3);
    border-radius: 8%;
    margin: auto;
    padding: 0 2.1%;
    font-family: 'Oleo Script', cursive;
}

.caja:hover{
    transition: box-shadow 0.3s linear;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 12, 246, 0.4);
}
.caja1{
    
    width: 650px;
    font-size: 20px;

}
.caja2{
    
    width: 200px;
}
.caja2 img{
    
    width: 200px;
}

.caja3{
    background-color: rgba(0, 0,0,0);
    width: 300px;
   
    padding: 0%;
}
.caja3:hover{
    box-shadow: 0 0.2rem 0.9rem rgba(0, 12, 246, 0.6);

}
.caja3 img{
    width:90%;
    height:100%;
    margin: auto;
    text-align: center;
    /*border-radius: 50%;*/
}

.java{
        margin-left: 40px;
        object-fit: fill;
        max-width: 120px;
        max-height: 120px;
}

.caja p{
    padding-left: 10px;
    
}

.subtitulo{
    background-color: rgba(0, 255, 255, 0.3);
    font-size: 24px;
    display: inline-block;
    padding: 15px;
    border-radius: 30%;
    margin-bottom: -40px;
}

